# 2008 Airline Dataset Using Machine Learning Models

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
%matplotlib inline

In [2]:
df = pd.read_csv('airline2008.csv')

In [3]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [4]:
print(df.columns)

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009728 entries, 0 to 7009727
Data columns (total 29 columns):
Year                 int64
Month                int64
DayofMonth           int64
DayOfWeek            int64
DepTime              float64
CRSDepTime           int64
ArrTime              float64
CRSArrTime           int64
UniqueCarrier        object
FlightNum            int64
TailNum              object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin               object
Dest                 object
Distance             int64
TaxiIn               float64
TaxiOut              float64
Cancelled            int64
CancellationCode     object
Diverted             int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtypes: float64(14), int64(10), object(5)
memory usage: 1.5+ GB

In [6]:
df.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,7009728.0,7.009728e+06,7.009728e+06,7.009728e+06,6.873482e+06,7.009728e+06,6.858079e+06,7.009728e+06,7.009728e+06,6.855029e+06,...,7.009728e+06,6.858079e+06,6.872670e+06,7.009728e+06,7.009728e+06,1.524735e+06,1.524735e+06,1.524735e+06,1.524735e+06,1.524735e+06
mean,2008.0,6.375130e+00,1.572801e+01,3.924182e+00,1.333830e+03,1.326086e+03,1.481258e+03,1.494801e+03,2.224200e+03,1.273224e+02,...,7.263870e+02,6.860852e+00,1.645305e+01,1.960618e-02,2.463006e-03,1.577206e+01,3.039031e+00,1.716462e+01,7.497434e-02,2.077098e+01
std,0.0,3.406737e+00,8.797068e+00,1.988259e+00,4.780689e+02,4.642509e+02,5.052251e+02,4.826728e+02,1.961716e+03,7.018731e+01,...,5.621018e+02,4.933649e+00,1.133280e+01,1.386426e-01,4.956753e-02,4.009912e+01,1.950287e+01,3.189495e+01,1.837940e+00,3.925964e+01
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.200000e+01,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,9.280000e+02,9.250000e+02,1.107000e+03,1.115000e+03,6.220000e+02,7.700000e+01,...,3.250000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.325000e+03,1.320000e+03,1.512000e+03,1.517000e+03,1.571000e+03,1.100000e+02,...,5.810000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.728000e+03,1.715000e+03,1.909000e+03,1.907000e+03,3.518000e+03,1.570000e+02,...,9.540000e+02,8.000000e+00,1.900000e+01,0.000000e+00,0.000000e+00,1.600000e+01,0.000000e+00,2.100000e+01,0.000000e+00,2.600000e+01
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.743000e+03,1.379000e+03,...,4.962000e+03,3.080000e+02,4.290000e+02,1.000000e+00,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

In [7]:
df.count()

Year                 7009728
Month                7009728
DayofMonth           7009728
DayOfWeek            7009728
DepTime              6873482
CRSDepTime           7009728
ArrTime              6858079
CRSArrTime           7009728
UniqueCarrier        7009728
FlightNum            7009728
TailNum              6926363
ActualElapsedTime    6855029
CRSElapsedTime       7008884
AirTime              6855029
ArrDelay             6855029
DepDelay             6873482
Origin               7009728
Dest                 7009728
Distance             7009728
TaxiIn               6858079
TaxiOut              6872670
Cancelled            7009728
CancellationCode      137434
Diverted             7009728
CarrierDelay         1524735
WeatherDelay         1524735
NASDelay             1524735
SecurityDelay        1524735
LateAircraftDelay    1524735
dtype: int64

In [8]:
df.UniqueCarrier.value_counts()

WN    1201754
AA     604885
OO     567159
MQ     490693
US     453589
DL     451931
UA     449515
XE     374510
NW     347652
CO     298455
EV     280575
9E     262208
FL     261684
YV     254930
OH     197607
B6     196091
AS     151102
F9      95762
HA      61826
AQ       7800
Name: UniqueCarrier, dtype: int64

In [9]:
df.TailNum.value_counts().count()
# Could use a threshold for x amount of counts of a tailnumber

5373

In [10]:
dfdrop = df.drop(labels=['Year', 'TailNum', 'Origin', 'Dest', 'CancellationCode'], axis=1)

In [11]:
dfdrop.columns

Index(['Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime',
       'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'ActualElapsedTime',
       'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Distance',
       'TaxiIn', 'TaxiOut', 'Cancelled', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [13]:
# 3.5) Dummy Variables?

dfdrop = pd.get_dummies(dfdrop, columns=['UniqueCarrier'])

In [14]:
dfdrop = dfdrop.dropna(axis=0)

In [15]:
dfdrop.DepTime.value_counts(dropna=False)

1800.0    2801
1700.0    2695
1900.0    2662
2000.0    2578
1730.0    2499
1755.0    2458
1750.0    2446
1930.0    2433
1720.0    2408
1910.0    2399
1820.0    2399
1745.0    2389
1740.0    2383
1915.0    2379
1715.0    2377
1810.0    2371
1855.0    2368
1925.0    2368
1850.0    2351
1920.0    2344
1500.0    2343
1725.0    2341
1830.0    2337
1815.0    2336
1945.0    2335
1710.0    2335
1735.0    2330
1640.0    2330
1950.0    2328
1655.0    2324
          ...
410.0        3
411.0        3
421.0        3
445.0        3
437.0        3
442.0        3
441.0        3
357.0        3
448.0        2
324.0        2
353.0        2
418.0        2
427.0        2
433.0        2
444.0        2
446.0        2
447.0        2
413.0        2
409.0        2
407.0        2
406.0        2
414.0        1
419.0        1
420.0        1
326.0        1
439.0        1
438.0        1
430.0        1
429.0        1
425.0        1
Name: DepTime, Length: 1438, dtype: int64

In [16]:
# 2) Split Dataset into features and labels,
# Label = Cancellation (Column 22, Cancelled)
# Features = everything else.
# Non features = Year, Cancelled, CancellationCode

X = dfdrop.drop(labels='DepDelay', axis=1).values
y = dfdrop.DepDelay.values

In [17]:
dfdrop.head()

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,...,UniqueCarrier_HA,UniqueCarrier_MQ,UniqueCarrier_NW,UniqueCarrier_OH,UniqueCarrier_OO,UniqueCarrier_UA,UniqueCarrier_US,UniqueCarrier_WN,UniqueCarrier_XE,UniqueCarrier_YV
4,1,3,4,1829.0,1755,1959.0,1925,3920,90.0,90.0,...,0,0,0,0,0,0,0,1,0,0
6,1,3,4,1937.0,1830,2037.0,1940,509,240.0,250.0,...,0,0,0,0,0,0,0,1,0,0
11,1,3,4,1644.0,1510,1845.0,1725,1333,121.0,135.0,...,0,0,0,0,0,0,0,1,0,0
16,1,3,4,1452.0,1425,1640.0,1625,675,228.0,240.0,...,0,0,0,0,0,0,0,1,0,0
18,1,3,4,1323.0,1255,1526.0,1510,4,123.0,135.0,...,0,0,0,0,0,0,0,1,0,0

In [18]:
# 3) Split into training and test data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [19]:
# 4) Feature Scaling

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
# 5) Train and Predict

from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)

y_pred = classfier.predict(X_test)

In [ ]:
# try to use a limited amount of rows and see if that fixes it